// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$verde: #50AD72;
$blanco: #F8F7FB;
$claro: #FAF5E4;
$rojo: #E45A80;

$verde-oscuro: #125B50;
$amarillo: #F8B400;
$salmon: #FF6363;
