// Specific CSS for your home-page
h1 {
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.ciclico-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100vh;  /* responsive height */
}

.btn-info-ciclico {
  background: $amarillo;
  text-decoration: none;
  padding: 0.7rem;
  &:hover {
    background: $salmon;
  }
}
