<div class="footer bg-secondary d-flex justify-content-around py-5">

  <div class="footer-copyright">
    ¡Reciclo, reúso y ayudo al futuro!
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
