<div class="footer d-flex justify-content-around py-3">
  <div class="footer-copyright text-secondary fs-4">
    ¡Reciclo, reúso y ayudo al futuro!
  </div>
  <div class="footer-links fs-4">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
