.navbar-lewagon {
  justify-content: space-between;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  background: rgba($color: #ffffff, $alpha: 0.0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  border-bottom: solid rgba(0,0,0,0);
  font-size: 1.4rem;
  color: $secondary;
  &:hover{
    color: $amarillo;
    border-bottom: solid $amarillo;
  }
}

.dropdown-ciclico {
  background: rgba(0, 0, 0, 0.5);
  .a {
    &:hover{
    background: rgba(255, 0, 0, 0.5)
    }
  }
}
